/* user story 8 */

@media only screen and (max-width: 600px) {
  #image {
    max-width: 450px;
  }
}
@media only screen and (max-width: 1200px) {
  #image {
    max-width: 600px;
  }
}
#image {
  display: block;
  margin: auto;
  max-width: 90%;
}
#img-div {
}
